Job_Candidate_Matcher/
# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd


# Ignore local Chroma DB artifacts
chroma_db/
*.sqlite3
*.bin

# Ignore environment and build artifacts
.env
*.log
*.tmp
